.twitter {
    -fx-background-color: #00A6F0;
    -fx-border-radius: 80 80 80 80;
    -fx-text-fill: white;
}

.signUp {
    -fx-background-color: #00A6F0;
    -fx-border-radius: 80 80 80 80;
    -fx-text-fill: white;
}